<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            Tarea Análitica
        </title>
    </head>
    <body>
        <form action="/busqueda_remedio" method="POST">
            <table>
                <tr>
                    <td>Ingrese el remedio que consumio:</td>
                    <td><input type="text" name="remedio"></td>
                    <td><input type="submit" name="Buscar"></td>
                </tr>
            </table>
        </form>
    </body>
</html>